@use '../../styles/shared-mixins/typography';
@use '../../styles/shared-mixins/reset-text-field';

.InputCell {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

// [Parts]
.InputCell__before {
  @include typography.headlineLevel1;

  margin-right: var(--spacing-size-xs);
  width: 96px;
}

// [Parts]
.InputCell__input {
  @include reset-text-field.resetTextField;
  @include typography.text;

  flex-grow: 1;

  &::placeholder {
    color: var(--text-secondary);
  }
}

// [Properties] Heights
.InputCell_height_compact {
  padding: var(--spacing-size-xs) var(--spacing-size-xl);
  min-height: 48px;
}
.InputCell_height_normal {
  padding: var(--spacing-size-m) var(--spacing-size-xl);
  min-height: 56px;
}
