// Если компонент полиморфный (поддержан проп asChild), то он может быть отрендерен как <button /> или <a />,
// которые могут изменить внешний вид компонента (в <a /> появиться text-decoration, в <button /> фон, бордер и тд)
// Миксин обнуляет дефолтные стили
// todo учесть дефолтные все стили от button, a, etc
@mixin resetClickable {
  text-decoration: none;
  border: unset;
  color: inherit;
  line-height: 0;
  background: unset;
  text-align: unset;
  padding: unset;
}
