.Container {
  display: flex;
  flex-direction: column;
}

// [Property] Not Full width
.Container:not(.Container_fullWidth) {
  margin-left: var(--spacing-size-xl);
  margin-right: var(--spacing-size-xl);
}
