@mixin lightPalette {
  --background-card: #ffffff;
  --background-floating-contrast: #f6f6f6cc;
  --background-floating-neutral: #151a1fa3;
  --background-overlay: #0c0d0e52;
  --background-overlay-secondary: #00000099;
  --background-surface-ground: #edeef2;
  --background-surface-primary: #ffffff;
  --background-surface-quaternary: #898c8c;
  --background-surface-secondary: #f0f0f0;
  --background-surface-tertiary: #f6f6f6;
  --background-transparent: #fa00ff00;
  --background-transparent-select: #e9efff;
  --background-accent-attention-primary: #ff9315;
  --background-accent-attention-secondary: #ffcc00;
  --background-accent-contrast: #ffffff;
  --background-accent-contrast-secondary: #ffffff;
  --background-accent-contrast-static: #ffffff;
  --background-accent-negative: #ff303c;
  --background-accent-neutral: #0d0d0d;
  --background-accent-neutral-fade: #09090914;
  --background-accent-neutral-static: #0d0d0d;
  --background-accent-positive: #1abe43;
  --background-accent-themed: #416afa;
  --gradients-hidden-folders-step-1: var(--background-card);
  --gradients-hidden-folders-step-2: #ffffff00;
  --icon-contrast: #ffffff;
  --icon-contrast-static: #ffffff;
  --icon-negative: #ff303c;
  --icon-positive: #1abe43;
  --icon-primary: #0c0d0e;
  --icon-primary-static: #0c0d0e;
  --icon-quaternary: #bcbdbe;
  --icon-secondary: #515455;
  --icon-tertiary: #898c8c;
  --icon-themed: #416afa;
  --shadow-elevation-1-primary: #0000000f;
  --shadow-elevation-1-secondary: #00000008;
  --shadow-elevation-2-primary: #0000000f;
  --shadow-elevation-2-secondary: #0000000a;
  --shadow-elevation-3-primary: #00000014;
  --shadow-elevation-3-secondary: #00000014;
  --shadow-elevation-4-primary: #00000029;
  --shadow-elevation-4-secondary: #0000001f;
  --states-background-disabled-contrast: #ffffff66;
  --states-background-disabled-contrast-static: #ffffff66;
  --states-background-disabled-negative: #f760697a;
  --states-background-disabled-neutral: #0d0d0d7a;
  --states-background-disabled-neutral-fade: #0909090a;
  --states-background-disabled-neutral-static: #0d0d0d7a;
  --states-background-disabled-quternary: #c7c7c7;
  --states-background-disabled-themed: #4876eb7a;
  --states-background-disabled-transparent: #fa00ff00;
  --states-background-hovered-card: #f6f6f6;
  --states-background-hovered-contrast-static: #f6f6f6;
  --states-background-hovered-negative: #ff4b55;
  --states-background-hovered-neutral: #373737;
  --states-background-hovered-neutral-fade: #0909090d;
  --states-background-hovered-themed: #6181f5;
  --states-background-hovered-transparent: #0d0d0d0a;
  --states-background-pressed-contrast-static: #ebebeb;
  --states-background-pressed-negative: #f03741;
  --states-background-pressed-neutral: #141414;
  --states-background-pressed-neutral-fade: #0d0d0d0a;
  --states-background-pressed-themed: #5374ee;
  --states-background-pressed-transparent: #0d0d0d14;
  --states-icon-disabled-contrast: #ffffffb8;
  --states-icon-disabled-contrast-static: #ffffffb8;
  --states-icon-disabled-negative: #e54d56a3;
  --states-icon-disabled-positive: #48b5638f;
  --states-icon-disabled-primary: #6f7276a3;
  --states-icon-disabled-primary-static: #6f7276a3;
  --states-icon-disabled-themed: #4876eb99;
  --states-icon-hovered-contrast-static: #d7d7d7;
  --states-icon-hovered-negative: #ff6a73;
  --states-icon-hovered-primary: #505151;
  --states-icon-hovered-themed: #5e7ef2;
  --states-icon-pressed-contrast-static: #ffffff;
  --states-icon-pressed-negative: #ed3b45;
  --states-icon-pressed-primary: #000000;
  --states-icon-pressed-themed: #345adf;
  --states-text-disabled-contrast: #ffffffa3;
  --states-text-disabled-contrast-static: #ffffff7a;
  --states-text-disabled-negative: #e54d56a3;
  --states-text-disabled-primary: #6f7276a3;
  --states-text-disabled-primary-static: #6f7276a3;
  --states-text-disabled-secondary: #9b9ea2a3;
  --states-text-disabled-themed: #4876eb99;
  --states-text-hovered-contrast-static: #e9e9e9;
  --states-text-hovered-negative: #ff6a73;
  --states-text-hovered-primary: #505151;
  --states-text-hovered-themed: #5e7ef2;
  --states-text-pressed-contrast-static: #ffffff;
  --states-text-pressed-negative: #ed3b45;
  --states-text-pressed-primary: #000000;
  --states-text-pressed-themed: #345adf;
  --stroke-contrast-static: #ffffff;
  --stroke-negative: #ff303c;
  --stroke-positive: #1abe43;
  --stroke-themed: #416afa;
  --stroke-separator-contrast: #ffffff14;
  --stroke-separator-primary: #0c0d0e29;
  --stroke-separator-secondary: #0c0d0e0f;
  --text-contrast: #ffffff;
  --text-contrast-static: #ffffff;
  --text-negative: #ff303c;
  --text-positive: #1abe43;
  --text-primary: #0c0d0e;
  --text-primary-static: #0c0d0e;
  --text-secondary: #0c0d0e85;
  --text-subhead: #0c0d0eb8;
  --text-tertiary: #0c0d0e66;
  --text-themed: #416afa;
}
