.Spinner {
  display: flex;
}

// [Properties] Appearances
.Spinner_appearance_primary {
  --OneMe-Spinner_gradient-from: var(--gradients-loading-icon-primary-transparrent);
  --OneMe-Spinner_gradient-to: var(--gradients-loading-icon-primary-filled);
}
.Spinner_appearance_themed {
  --OneMe-Spinner_gradient-from: var(--gradients-loading-icon-themed-transparrent);
  --OneMe-Spinner_gradient-to: var(--gradients-loading-icon-themed-filled);
}
.Spinner_appearance_primary-static {
  --OneMe-Spinner_gradient-from: var(--gradients-loading-icon-primary-static-transparrent);
  --OneMe-Spinner_gradient-to: var(--gradients-loading-icon-primary-static-filled);
}
.Spinner_appearance_contrast {
  --OneMe-Spinner_gradient-from: var(--gradients-loading-icon-contrast-transparrent);
  --OneMe-Spinner_gradient-to: var(--gradients-loading-icon-contrast-filled);
}
.Spinner_appearance_contrast-static {
  --OneMe-Spinner_gradient-from: var(--gradients-loading-icon-contrast-static-transparrent);
  --OneMe-Spinner_gradient-to: var(--gradients-loading-icon-contrast-static-filled);
}
.Spinner_appearance_negative {
  --OneMe-Spinner_gradient-from: var(--gradients-loading-icon-negative-transparrent);
  --OneMe-Spinner_gradient-to: var(--gradients-loading-icon-negative-filled);
}

// [Parts] Spinner svg
.Spinner__spinner {
  background-image: conic-gradient(var(--OneMe-Spinner_gradient-from) 15%, var(--OneMe-Spinner_gradient-to) 100%);
  display: block;
  width: inherit;
  height: inherit;
  animation: rotation 1s infinite linear;
}

// [Chore] Rotate animation
@keyframes rotation {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}
