.TypographyDisplay {
  font-family: var(--family-accent);
  font-size: var(--size-display);
  line-height: var(--height-display);
  letter-spacing: var(--letter-spacing-display);
  font-weight: 600;
}
