@mixin lightPalette {
  --accent-red: rgb(255 48 60);
  --accent-themed: rgb(65 106 250);
  --background-card: rgb(255 255 255);
  --background-floating-contrast: rgb(246 246 246 / 0.8);
  --background-floating-neutral: rgb(21 26 31 / 0.64);
  --background-overlay: rgb(12 13 14 / 0.32);
  --background-overlay-secondary: rgb(0 0 0 / 0.6);
  --background-surface-ground: rgb(237 238 242);
  --background-surface-primary: rgb(255 255 255);
  --background-surface-quaternary: rgb(137 140 140);
  --background-surface-secondary: rgb(240 240 240);
  --background-surface-tertiary: rgb(246 246 246);
  --background-transparent: rgb(250 0 255 / 0);
  --background-transparent-select: rgb(233 239 255);
  --background-accent-attention-primary: rgb(255 147 21);
  --background-accent-attention-secondary: rgb(255 204 0);
  --background-accent-contrast: rgb(255 255 255);
  --background-accent-contrast-secondary: rgb(255 255 255);
  --background-accent-contrast-static: rgb(255 255 255);
  --background-accent-negative: rgb(255 48 60);
  --background-accent-neutral: rgb(13 13 13);
  --background-accent-neutral-fade: rgb(9 9 9 / 0.08);
  --background-accent-neutral-fade-secondary: rgb(9 9 9 / 0.05);
  --background-accent-neutral-static: rgb(13 13 13);
  --background-accent-positive: rgb(26 190 67);
  --background-accent-themed: rgb(65 106 250);
  --gradients-hidden-folders-step-1: var(--background-card);
  --gradients-hidden-folders-step-2: rgb(255 255 255 / 0);
  --gradients-loading-icon-contrast-filled: rgb(255 255 255);
  --gradients-loading-icon-contrast-transparrent: rgb(255 255 255 / 0);
  --gradients-loading-icon-contrast-static-filled: rgb(255 255 255);
  --gradients-loading-icon-contrast-static-transparrent: rgb(255 255 255 / 0);
  --gradients-loading-icon-negative-filled: rgb(255 48 60);
  --gradients-loading-icon-negative-transparrent: rgb(255 48 60 / 0);
  --gradients-loading-icon-primary-filled: rgb(13 13 13);
  --gradients-loading-icon-primary-transparrent: rgb(13 13 13 / 0);
  --gradients-loading-icon-primary-static-filled: rgb(13 13 13);
  --gradients-loading-icon-primary-static-transparrent: rgb(13 13 13 / 0);
  --gradients-loading-icon-themed-filled: rgb(65 106 250);
  --gradients-loading-icon-themed-transparrent: rgb(65 106 250 / 0);
  --icon-contrast: rgb(255 255 255);
  --icon-contrast-static: rgb(255 255 255);
  --icon-negative: rgb(255 48 60);
  --icon-positive: rgb(26 190 67);
  --icon-primary: rgb(12 13 14);
  --icon-primary-static: rgb(12 13 14);
  --icon-quaternary: rgb(188 189 190);
  --icon-secondary: rgb(81 84 85);
  --icon-tertiary: rgb(137 140 140);
  --icon-themed: rgb(65 106 250);
  --shadow-big-card-color: rgb(67 120 186 / 0.12);
  --shadow-elevation-1-primary: rgb(0 0 0 / 0.06);
  --shadow-elevation-1-secondary: rgb(0 0 0 / 0.03);
  --shadow-elevation-2-primary: rgb(0 0 0 / 0.06);
  --shadow-elevation-2-secondary: rgb(0 0 0 / 0.04);
  --shadow-elevation-3-primary: rgb(0 0 0 / 0.08);
  --shadow-elevation-3-secondary: rgb(0 0 0 / 0.08);
  --shadow-elevation-4-primary: rgb(0 0 0 / 0.16);
  --shadow-elevation-4-secondary: rgb(0 0 0 / 0.12);
  --shadow-focused-default: rgb(173 206 255);
  --shadow-focused-negative: rgb(255 184 184);
  --states-background-disabled-card: rgb(255 255 255 / 0.4);
  --states-background-disabled-contrast: rgb(255 255 255 / 0.4);
  --states-background-disabled-contrast-static: rgb(255 255 255 / 0.4);
  --states-background-disabled-negative: rgb(247 96 105 / 0.48);
  --states-background-disabled-neutral: rgb(135 137 143);
  --states-background-disabled-neutral-fade: rgb(9 9 9 / 0.04);
  --states-background-disabled-neutral-static: rgb(13 13 13 / 0.48);
  --states-background-disabled-positive: rgb(26 190 67 / 0.48);
  --states-background-disabled-quternary: rgb(199 199 199);
  --states-background-disabled-themed: rgb(72 118 235 / 0.48);
  --states-background-disabled-transparent: rgb(250 0 255 / 0);
  --states-background-hovered-card: rgb(246 246 246);
  --states-background-hovered-contrast-static: rgb(246 246 246);
  --states-background-hovered-negative: rgb(255 75 85);
  --states-background-hovered-neutral: rgb(55 55 55);
  --states-background-hovered-neutral-fade: rgb(9 9 9 / 0.05);
  --states-background-hovered-positive: rgb(25 166 60);
  --states-background-hovered-themed: rgb(97 129 245);
  --states-background-hovered-transparent: rgb(13 13 13 / 0.04);
  --states-background-pressed-contrast-static: rgb(235 235 235);
  --states-background-pressed-negative: rgb(240 55 65);
  --states-background-pressed-neutral: rgb(20 20 20);
  --states-background-pressed-neutral-fade: rgb(13 13 13 / 0.04);
  --states-background-pressed-positive: rgb(16 202 63);
  --states-background-pressed-themed: rgb(83 116 238);
  --states-background-pressed-transparent: rgb(13 13 13 / 0.08);
  --states-icon-disabled-contrast: rgb(255 255 255 / 0.72);
  --states-icon-disabled-contrast-static: rgb(255 255 255 / 0.72);
  --states-icon-disabled-negative: rgb(229 77 86 / 0.64);
  --states-icon-disabled-positive: rgb(72 181 99 / 0.56);
  --states-icon-disabled-primary: rgb(111 114 118 / 0.64);
  --states-icon-disabled-primary-static: rgb(111 114 118 / 0.64);
  --states-icon-disabled-secondary: rgb(133 137 142 / 0.64);
  --states-icon-disabled-themed: rgb(72 118 235 / 0.6);
  --states-icon-hovered-contrast-static: rgb(215 215 215);
  --states-icon-hovered-negative: rgb(255 106 115);
  --states-icon-hovered-primary: rgb(80 81 81);
  --states-icon-hovered-tertiary: rgb(12 13 14 / 0.64);
  --states-icon-hovered-themed: rgb(94 126 242);
  --states-icon-pressed-contrast-static: rgb(255 255 255);
  --states-icon-pressed-negative: rgb(237 59 69);
  --states-icon-pressed-primary: rgb(0 0 0);
  --states-icon-pressed-themed: rgb(52 90 223);
  --states-text-disabled-contrast: rgb(255 255 255 / 0.64);
  --states-text-disabled-contrast-static: rgb(255 255 255 / 0.72);
  --states-text-disabled-negative: rgb(229 77 86 / 0.64);
  --states-text-disabled-primary: rgb(111 114 118 / 0.64);
  --states-text-disabled-primary-static: rgb(111 114 118 / 0.64);
  --states-text-disabled-secondary: rgb(111 114 118 / 0.64);
  --states-text-disabled-themed: rgb(72 118 235 / 0.6);
  --states-text-hovered-contrast-static: rgb(233 233 233);
  --states-text-hovered-negative: rgb(255 106 115);
  --states-text-hovered-primary: rgb(80 81 81);
  --states-text-hovered-secondary: rgb(12 13 14 / 0.64);
  --states-text-hovered-themed: rgb(94 126 242);
  --states-text-pressed-contrast-static: rgb(255 255 255);
  --states-text-pressed-negative: rgb(237 59 69);
  --states-text-pressed-primary: rgb(0 0 0);
  --states-text-pressed-secondary: rgb(13 13 13 / 0.52);
  --states-text-pressed-themed: rgb(52 90 223);
  --stroke-contrast-static: rgb(255 255 255);
  --stroke-negative: rgb(255 48 60);
  --stroke-positive: rgb(26 190 67);
  --stroke-themed: rgb(65 106 250);
  --stroke-transparrent: rgb(12 13 14 / 0);
  --stroke-carver-card: var(--background-card);
  --stroke-separator-contrast: rgb(255 255 255 / 0.08);
  --stroke-separator-primary: rgb(12 13 14 / 0.16);
  --stroke-separator-secondary: rgb(12 13 14 / 0.06);
  --text-contrast: rgb(255 255 255);
  --text-contrast-static: rgb(255 255 255);
  --text-negative: rgb(255 48 60);
  --text-positive: rgb(26 190 67);
  --text-primary: rgb(12 13 14);
  --text-primary-static: rgb(12 13 14);
  --text-secondary: rgb(12 13 14 / 0.52);
  --text-subhead: rgb(12 13 14 / 0.72);
  --text-tertiary: rgb(12 13 14 / 0.4);
  --text-themed: rgb(65 106 250);
  --shadow-big-card-offset-x: 0px;
  --shadow-big-card-spread: 0px;
  --shadow-big-card-offset-y: 10px;
  --shadow-big-card-blur: 60px;
}

@mixin darkPalette {
  --accent-red: rgb(255 68 79);
  --accent-themed: rgb(65 106 250);
  --background-card: rgb(30 30 30);
  --background-floating-contrast: rgb(24 24 24 / 0.8);
  --background-floating-neutral: rgb(122 124 130 / 0.64);
  --background-overlay: rgb(13 13 13 / 0.64);
  --background-overlay-secondary: rgb(0 0 0 / 0.6);
  --background-surface-ground: rgb(13 13 13);
  --background-surface-primary: rgb(13 13 13);
  --background-surface-quaternary: rgb(121 124 124);
  --background-surface-secondary: rgb(34 34 34);
  --background-surface-tertiary: rgb(24 24 24);
  --background-transparent: rgb(250 0 255 / 0);
  --background-transparent-select: rgb(44 44 47);
  --background-accent-attention-primary: rgb(255 159 10);
  --background-accent-attention-secondary: rgb(255 214 10);
  --background-accent-contrast: rgb(13 13 13);
  --background-accent-contrast-secondary: rgb(30 30 30);
  --background-accent-contrast-static: rgb(255 255 255);
  --background-accent-negative: rgb(255 68 79);
  --background-accent-neutral: rgb(255 255 255);
  --background-accent-neutral-fade: rgb(255 255 255 / 0.09);
  --background-accent-neutral-fade-secondary: rgb(255 255 255 / 0.09);
  --background-accent-neutral-static: rgb(13 13 13);
  --background-accent-positive: rgb(43 198 68);
  --background-accent-themed: rgb(74 114 255);
  --gradients-hidden-folders-step-1: var(--background-card);
  --gradients-hidden-folders-step-2: rgb(30 30 30 / 0);
  --gradients-loading-icon-contrast-filled: rgb(13 13 13);
  --gradients-loading-icon-contrast-transparrent: rgb(13 13 13 / 0);
  --gradients-loading-icon-contrast-static-filled: rgb(255 255 255);
  --gradients-loading-icon-contrast-static-transparrent: rgb(255 255 255 / 0);
  --gradients-loading-icon-negative-filled: rgb(255 68 79);
  --gradients-loading-icon-negative-transparrent: rgb(255 68 79 / 0);
  --gradients-loading-icon-primary-filled: rgb(255 255 255);
  --gradients-loading-icon-primary-transparrent: rgb(255 255 255 / 0);
  --gradients-loading-icon-primary-static-filled: rgb(13 13 13);
  --gradients-loading-icon-primary-static-transparrent: rgb(13 13 13 / 0);
  --gradients-loading-icon-themed-filled: rgb(74 114 255);
  --gradients-loading-icon-themed-transparrent: rgb(74 114 255 / 0);
  --icon-contrast: rgb(12 13 14);
  --icon-contrast-static: rgb(255 255 255);
  --icon-negative: rgb(255 68 79);
  --icon-positive: rgb(43 198 68);
  --icon-primary: rgb(255 255 255);
  --icon-primary-static: rgb(12 13 14);
  --icon-quaternary: rgb(102 102 102);
  --icon-secondary: rgb(180 182 185);
  --icon-tertiary: rgb(121 124 124);
  --icon-themed: rgb(74 114 255);
  --shadow-big-card-color: rgb(2 11 38 / 0.3);
  --shadow-elevation-1-primary: rgb(0 0 0 / 0.2);
  --shadow-elevation-1-secondary: rgb(0 0 0 / 0.1);
  --shadow-elevation-2-primary: rgb(0 0 0 / 0.2);
  --shadow-elevation-2-secondary: rgb(0 0 0 / 0.15);
  --shadow-elevation-3-primary: rgb(0 0 0 / 0.3);
  --shadow-elevation-3-secondary: rgb(0 0 0 / 0.3);
  --shadow-elevation-4-primary: rgb(0 0 0 / 0.2);
  --shadow-elevation-4-secondary: rgb(0 0 0 / 0.1);
  --shadow-focused-default: rgb(112 154 218);
  --shadow-focused-negative: rgb(186 76 76);
  --states-background-disabled-card: rgb(30 30 30 / 0.4);
  --states-background-disabled-contrast: rgb(13 13 13 / 0.4);
  --states-background-disabled-contrast-static: rgb(255 255 255 / 0.4);
  --states-background-disabled-negative: rgb(199 91 98 / 0.48);
  --states-background-disabled-neutral: rgb(103 105 109);
  --states-background-disabled-neutral-fade: rgb(255 255 255 / 0.04);
  --states-background-disabled-neutral-static: rgb(13 13 13 / 0.48);
  --states-background-disabled-positive: rgb(43 198 68 / 0.48);
  --states-background-disabled-quternary: rgb(69 69 69);
  --states-background-disabled-themed: rgb(90 119 222 / 0.48);
  --states-background-disabled-transparent: rgb(250 0 255 / 0);
  --states-background-hovered-card: rgb(24 24 24);
  --states-background-hovered-contrast-static: rgb(246 246 246);
  --states-background-hovered-negative: rgb(255 75 85);
  --states-background-hovered-neutral: rgb(228 228 228);
  --states-background-hovered-neutral-fade: rgb(255 255 255 / 0.15);
  --states-background-hovered-positive: rgb(39 172 60);
  --states-background-hovered-themed: rgb(97 129 245);
  --states-background-hovered-transparent: rgb(255 255 255 / 0.04);
  --states-background-pressed-contrast-static: rgb(235 235 235);
  --states-background-pressed-negative: rgb(226 50 60);
  --states-background-pressed-neutral: rgb(195 195 195);
  --states-background-pressed-neutral-fade: rgb(255 255 255 / 0.04);
  --states-background-pressed-positive: rgb(61 196 83);
  --states-background-pressed-themed: rgb(60 96 224);
  --states-background-pressed-transparent: rgb(255 255 255 / 0.08);
  --states-icon-disabled-contrast: rgb(12 13 14 / 0.64);
  --states-icon-disabled-contrast-static: rgb(255 255 255 / 0.48);
  --states-icon-disabled-negative: rgb(199 91 98 / 0.52);
  --states-icon-disabled-positive: rgb(88 178 110 / 0.64);
  --states-icon-disabled-primary: rgb(183 184 185 / 0.64);
  --states-icon-disabled-primary-static: rgb(157 161 165 / 0.64);
  --states-icon-disabled-secondary: rgb(136 140 144 / 0.64);
  --states-icon-disabled-themed: rgb(81 111 218 / 0.6);
  --states-icon-hovered-contrast-static: rgb(215 215 215);
  --states-icon-hovered-negative: rgb(187 57 73);
  --states-icon-hovered-primary: rgb(187 187 187);
  --states-icon-hovered-tertiary: rgb(255 255 255 / 0.64);
  --states-icon-hovered-themed: rgb(57 86 187);
  --states-icon-pressed-contrast-static: rgb(255 255 255);
  --states-icon-pressed-negative: rgb(255 102 121);
  --states-icon-pressed-primary: rgb(255 255 255);
  --states-icon-pressed-themed: rgb(102 136 255);
  --states-text-disabled-contrast: rgb(12 13 14 / 0.64);
  --states-text-disabled-contrast-static: rgb(255 255 255 / 0.72);
  --states-text-disabled-negative: rgb(199 91 98 / 0.52);
  --states-text-disabled-primary: rgb(183 184 185 / 0.64);
  --states-text-disabled-primary-static: rgb(157 161 165 / 0.64);
  --states-text-disabled-secondary: rgb(183 184 185 / 0.64);
  --states-text-disabled-themed: rgb(81 111 218 / 0.6);
  --states-text-hovered-contrast-static: rgb(233 233 233);
  --states-text-hovered-negative: rgb(187 57 73);
  --states-text-hovered-primary: rgb(187 187 187);
  --states-text-hovered-secondary: rgb(255 255 255 / 0.64);
  --states-text-hovered-themed: rgb(57 86 187);
  --states-text-pressed-contrast-static: rgb(255 255 255);
  --states-text-pressed-negative: rgb(255 102 121);
  --states-text-pressed-primary: rgb(255 255 255);
  --states-text-pressed-secondary: rgb(255 255 255 / 0.68);
  --states-text-pressed-themed: rgb(102 136 255);
  --stroke-contrast-static: rgb(255 255 255);
  --stroke-negative: rgb(255 68 79);
  --stroke-positive: rgb(43 198 68);
  --stroke-themed: rgb(74 114 255);
  --stroke-transparrent: rgb(12 13 14 / 0);
  --stroke-carver-card: var(--background-card);
  --stroke-separator-contrast: rgb(12 13 14 / 0.1);
  --stroke-separator-primary: rgb(255 255 255 / 0.12);
  --stroke-separator-secondary: rgb(255 255 255 / 0.06);
  --text-contrast: rgb(12 13 14);
  --text-contrast-static: rgb(255 255 255);
  --text-negative: rgb(255 68 79);
  --text-positive: rgb(43 198 68);
  --text-primary: rgb(255 255 255);
  --text-primary-static: rgb(12 13 14);
  --text-secondary: rgb(255 255 255 / 0.5);
  --text-subhead: rgb(255 255 255 / 0.74);
  --text-tertiary: rgb(255 255 255 / 0.34);
  --text-themed: rgb(74 114 255);
  --shadow-big-card-offset-x: 0px;
  --shadow-big-card-spread: 0px;
  --shadow-big-card-offset-y: 10px;
  --shadow-big-card-blur: 60px;
}
