@use '../../styles/shared-mixins/typography';
@use '../../styles/shared-mixins/reset-clickable';

.ToolButton {
  @include reset-clickable.resetClickable;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-size-xl) var(--spacing-size-xl);
  background-color: var(--background-card);
  border-radius: var(--size-border-radius-action-medium);
  width: 100%;
}

// [Property] With label
.ToolButton_withLabel {
  padding: var(--spacing-size-m) var(--spacing-size-s);
}

// [Parts] Icon
.ToolButton__icon {
  display: flex;

  &:not(:last-child) {
    margin-bottom: var(--spacing-size-xs);
  }
}

// [Parts] Label
.ToolButton__label {
  @include typography.captionLevel1;
}
