.Section {
  overflow: hidden;
}

.Section_filled {
  background-color: var(--background-card);
}

.Section_mode_full-width {}

.Section_mode_island {
  margin-left: var(--spacing-size-xl);
  margin-right: var(--spacing-size-xl);
  border-radius: var(--size-border-radius-semantic-border-radius-card);
}
