@use '../../styles/sizes';
@use '../../styles/colors';
@use '../../styles/gradients';

.OneMeUI {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Roboto", "Apple Color Emoji", "Helvetica Neue", sans-serif;
  background-color: var(--background-surface-primary);
  color: var(--text-primary);

  @include gradients.gradients;

  &_platform {

    &_ios {
      @include sizes.iosSizes;
    }

    &_android {
      @include sizes.androidSizes;
    }
  }

  &_colorScheme {

    &_light {
      @include colors.lightPalette;
    }

    &_dark {
      @include colors.darkPalette;
    }
  }
}
